div.art_paged{
	margin-top:50px;
	text-align:center;
	margin-bottom: 62px;
}

div.art_paged h2{
font-weight:200; color:#333; font-size:52px
}


div.art_paged h3 {
color:#999; font-size:45px; width:800px;margin:auto; margin-top:0px; padding-top:0;
}

  
    div.art_paged  figure div.imgholder{
    	min-height:400px;
		
    }
  
  

  div.art_paged  figure figcaption
  {
 
  		margin-bottom:32px;
  }  
  
  div.art_paged  figure figcaption p
  {
 
font-family:'Source Sans Pro'; margin:auto; width:816px; font-weight:300; color:#333; font-size:18px; text-align:left;
  }  
  
div.art_paged  nav
{
	margin-top:20px;
		margin-bottom:22px;
}  
  
div.art_paged  nav ul li a{
  transition: color 0.33s ;
	  font-family:"Source Sans Pro"; 
	  font-weight:400;
		 color:#333;
		 font-size: 18px;
		margin:9px;
			text-decoration:none;
  }
  
div.art_paged  nav ul li a:after{
    content: '•';
    font-size: 10px;
    vertical-align: middle;
    position: relative;
    left: 15px;
    color: #333;
  }
  
  
div.art_paged  nav ul li:last-child a:after{
    content: '';
   
  }
  
 
  
  
div.art_paged  nav ul li a:hover{
	  font-family:"Source Sans Pro"; 
	  
			text-decoration:none;
			color:#08C;
  }
  
div.art_paged  nav ul li a.focused{
	 	color:#999;
			text-decoration:none;
  }
  
div.art_paged  nav ul li a.focused:hover{
	cursor:default;
	color:#999;
				text-decoration:none;
  }
  </style>